@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.categoryLabel{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
}

h2{
  margin: 20px;
  text-align: center;
}


